* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #ECEFF4;
}

/* Font */

body {
  font-family: "Open Sans", sans-serif;
}

i {
  color: white;
}

.nav-gradient {
  background-image: linear-gradient(to right, #2E3440, #D8DEE9) !important;
  border-radius: 20px;
  margin: 0.7em;
}

a {
  color: white !important;
}
/* Add a black background color to the top navigation */
.topnav {
  background-image: linear-gradient(to right, #2E3440, #D8DEE9)!important;
  overflow: hidden;
  margin: 0.7em;
  border-radius: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ECEFF4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Heading */

.heading-1 {
  padding-top: 8em;
}

.heading-2 {
  font-size: 6em !important;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 4em;
}

.text-gradient {
  font-weight: bold;
  font-size: 4rem;
  display: inline-block !important;
  background-image: linear-gradient(to right, #2E3440, #D8DEE9)!important;
}
@supports (-webkit-background-clip: text) {
  .text-gradient {
    color: transparent;
    background-image: linear-gradient(to right, #2E3440, #D8DEE9)!important;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content {
  background-color: #D8DEE9;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #2E3440;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 0;
  color: linear-gradient(to right, #2E3440, #D8DEE9)!important;
  text-transform: uppercase;
  font-weight: bold;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(to right, #2E3440, #D8DEE9)!important;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

.title {
  color: #2E3440;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing .box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.pricing .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.pricing h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.pricing .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
}

.pricing .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .price span {
  color: #2E3440;
  font-size: 16px;
  font-weight: 300;
}

.pricing img {
  padding: 30px 40px;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.pricing ul li {
  padding-bottom: 10px;
}

.pricing ul .na {
  color: #2E3440;
  text-decoration: line-through;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #2E3440 !important;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #2E3440;
  text-decoration: none;
}

.pricing .btn-buy:hover {
  background-image: linear-gradient(to right, #2E3440, #D8DEE9)!important;
  color: #fff !important;
}

.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background-image: linear-gradient(to right, #2E3440, #D8DEE9)!important;
  color: #2E3440;
}

.turing {
  margin-top: 37.5px !important;
  margin-bottom: 37.5px !important;
}

.hydro {
  letter-spacing: 5px;
  color: white;
  margin: auto;
  width: 50%;
  padding: 13px;
  font-weight: bold;
}



/* Particle */

.particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(2vw, 36vh, 69px);
 }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  animation-delay: -0.2s;
  transform: translate3d(67vw, 37vh, 71px);
  background: #26d950;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(4vw, 32vh, 89px);
 }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.69;
  height: 7px;
  width: 7px;
  animation-delay: -0.4s;
  transform: translate3d(81vw, 52vh, 72px);
  background: #a926d9;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(10vw, 45vh, 23px);
 }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.08;
  height: 8px;
  width: 8px;
  animation-delay: -0.6s;
  transform: translate3d(41vw, 74vh, 52px);
  background: #d92656;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(52vw, 56vh, 79px);
 }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.27;
  height: 10px;
  width: 10px;
  animation-delay: -0.8s;
  transform: translate3d(7vw, 30vh, 35px);
  background: #d326d9;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(85vw, 33vh, 24px);
 }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  animation-delay: -1s;
  transform: translate3d(71vw, 35vh, 79px);
  background: #26afd9;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(10vw, 72vh, 67px);
 }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.96;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(89vw, 13vh, 90px);
  background: #b8d926;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(14vw, 29vh, 39px);
 }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.61;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(39vw, 67vh, 34px);
  background: #d92656;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(70vw, 42vh, 77px);
 }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  animation-delay: -1.6s;
  transform: translate3d(68vw, 1vh, 13px);
  background: #d926d6;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(34vw, 24vh, 82px);
 }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.52;
  height: 9px;
  width: 9px;
  animation-delay: -1.8s;
  transform: translate3d(17vw, 35vh, 1px);
  background: #d9264d;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(6vw, 49vh, 7px);
 }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.26;
  height: 10px;
  width: 10px;
  animation-delay: -2s;
  transform: translate3d(90vw, 69vh, 23px);
  background: #26d97d;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(63vw, 22vh, 13px);
 }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  animation-delay: -2.2s;
  transform: translate3d(18vw, 36vh, 38px);
  background: #d99426;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(41vw, 18vh, 91px);
 }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.99;
  height: 10px;
  width: 10px;
  animation-delay: -2.4s;
  transform: translate3d(26vw, 20vh, 38px);
  background: #d92626;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(77vw, 78vh, 37px);
 }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.96;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(65vw, 18vh, 10px);
  background: #26d9af;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(38vw, 55vh, 24px);
 }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.13;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(87vw, 2vh, 85px);
  background: #268ed9;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(49vw, 49vh, 60px);
 }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.08;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(53vw, 73vh, 51px);
  background: #d95926;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(14vw, 81vh, 73px);
 }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.91;
  height: 7px;
  width: 7px;
  animation-delay: -3.2s;
  transform: translate3d(61vw, 3vh, 34px);
  background: #d9bb26;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(31vw, 24vh, 53px);
 }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.24;
  height: 7px;
  width: 7px;
  animation-delay: -3.4s;
  transform: translate3d(21vw, 9vh, 65px);
  background: #26d935;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(66vw, 43vh, 40px);
 }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.18;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(77vw, 13vh, 87px);
  background: #d96526;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(1vw, 14vh, 74px);
 }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  animation-delay: -3.8s;
  transform: translate3d(48vw, 55vh, 82px);
  background: #26d3d9;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(58vw, 79vh, 53px);
 }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.52;
  height: 7px;
  width: 7px;
  animation-delay: -4s;
  transform: translate3d(82vw, 39vh, 87px);
  background: #a6d926;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(56vw, 57vh, 100px);
 }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.48;
  height: 10px;
  width: 10px;
  animation-delay: -4.2s;
  transform: translate3d(57vw, 46vh, 59px);
  background: #d96226;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(10vw, 32vh, 81px);
 }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.75;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(19vw, 52vh, 22px);
  background: #bb26d9;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(88vw, 67vh, 88px);
 }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.46;
  height: 10px;
  width: 10px;
  animation-delay: -4.6s;
  transform: translate3d(39vw, 5vh, 84px);
  background: #d9bb26;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(40vw, 12vh, 24px);
 }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(14vw, 81vh, 45px);
  background: #5026d9;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(78vw, 71vh, 64px);
 }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.56;
  height: 6px;
  width: 6px;
  animation-delay: -5s;
  transform: translate3d(41vw, 35vh, 14px);
  background: #d6d926;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(22vw, 82vh, 37px);
 }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.28;
  height: 8px;
  width: 8px;
  animation-delay: -5.2s;
  transform: translate3d(89vw, 39vh, 41px);
  background: #b2d926;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(77vw, 5vh, 8px);
 }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.22;
  height: 10px;
  width: 10px;
  animation-delay: -5.4s;
  transform: translate3d(80vw, 62vh, 12px);
  background: #41d926;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(10vw, 73vh, 80px);
 }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.63;
  height: 9px;
  width: 9px;
  animation-delay: -5.6s;
  transform: translate3d(67vw, 77vh, 22px);
  background: #26d6d9;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(61vw, 27vh, 60px);
 }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.54;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(10vw, 80vh, 99px);
  background: #94d926;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(33vw, 42vh, 64px);
 }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.56;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(20vw, 35vh, 30px);
  background: #d926a3;
}

/* LoL */

.img {
  border-radius: 30px;
  border: 6px solid #434C5E;
  width: 240em;
}

body {
	margin: 0;
}

#c {
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
  background-color: white !important;
  z-index: -1;
}
